-# ----------------------------------------------------------------------------
-# views/tasks/edit.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-sm-12.col-md-12.col-lg-12
    %h1 Edit To Do
    
    = render partial: 'form'