-# ----------------------------------------------------------------------------
-# views/tasks/index.html.haml
-# ----------------------------------------------------------------------------

%div.tasks-container
  = react_component( 'TaskBoard', { data: @tasks, title: "Task Board" } )

-# ------------------------------------------------------------------
-# 04/06/2016 - ORIGINAL HTML VERSION
-# ------------------------------------------------------------------

                              
            