-# ----------------------------------------------------------------------------
-# views/tasks/new.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-sm-12.col-md-12.col-lg-12
    %h1 Create a new To Do
  
    = render partial: 'form'