-# ----------------------------------------------------------------------------
-# app/views/tasks/show.html.haml
-# ----------------------------------------------------------------------------
%div.tasks-container
  = react_component( 'TaskShow', { data: @task, title: "Task Show" } )
  
  %div.row
    %div.col-12-sm.col-12-md.col-12-lg
      = render partial: 'comments/comments',  locals: { commentable: @task }
      = render partial: 'comments/form',      locals: { commentable: @task }
      
      