-# ----------------------------------------------------------------------------
-# views/tasks/show.html.haml
-# ----------------------------------------------------------------------------

%div.tasks-container
  = react_component( 'TaskShow', { data: @task, title: "Task Show" } )