-# ----------------------------------------------------------------------------
-# views/tasks/show.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-sm-12.col-md-12.col-lg-12
    = render @task