/******************************************************************************
 * assets/stylesheets/bootstrap_and_overrides.scss
 *
 * Define global css variables for styles and mixins 
 ******************************************************************************/

$primary-brand:               #4D148C;
$secondary-brand:             #FF9100;
$body-bkgrd:                  #FFFFFF;
$hover-bkgrd:                 #F5F5F5;
$border:                      #DDDDDD;