/******************************************************************************
 * assets/stylesheets/bootstrap_and_overrides.scss
 *
 * Define global css variables for styles and mixins 
 ******************************************************************************/

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-brand:               #4D148C;
$secondary-brand:             #FF9100;
$body-bkgrd:                  #FFFFFF;
$hover-bkgrd:                 #F5F5F5;
$border:                      #DDDDDD;
$grayed-out:                  lighten($text-color, 30%);

$in-progress:                 #5CB85C;
$up-next:                     #F0AD4E;
$on-hold:                     #D9534F;
$unassigned:                  #F0AD4E;
$completed:                   #5BC0DE;