/******************************************************************************
 * assets/stylesheets/tasks.scss
 *
 * Define the styles for the to dos
 ******************************************************************************/

//-----------------------------------------------------------------------------
// Import the CareerQB Global Styles and Bootstrap Customizations
//-----------------------------------------------------------------------------
@import "global_styles";
@import "bootstrap_and_overrides";

.card {
  margin:                     0.75em 0 0 0;
  
  .title-div {
    
    .checkbox {
      display:                inline-block;
    }
    
    .title {
      display:                inline-block;
    }
  }
  
  .notes-div {
    
  }
}