/******************************************************************************
 * assets/stylesheets/tasks.scss
 *
 * Define the styles for the to dos
 ******************************************************************************/

//-----------------------------------------------------------------------------
// Import the CareerQB Global Styles and Bootstrap Customizations
//-----------------------------------------------------------------------------
@import "global_styles";
@import "bootstrap_and_overrides";

//----------------------------------------------------------------------------- 
// Task card specific styles
//-----------------------------------------------------------------------------
.task-list-group {
  //** @extend                     .list-group;
  
  .list-group-item {
    border:                   none;
  }
  
  .completed-task-li {
    h4 {
      font-style:             italic;
      text-decoration:        line-through;
    }
    color:                    $grayed-out;
    p {
      text-decoration:        line-through;
    }
  }
}

//-----------------------------------------------------------------------------
// TODO: 06/24/2016 - NEW TASK CARD LAYOUT
//-----------------------------------------------------------------------------
div.task-card-tmp {
  width:                      100%;
  height:                     100%;
  margin:                     0;
  
  .task-checkbox-tmp {
    display:                  inline-block;
    width:                    2.5em;
    height:                   100%;
    vertical-align:           top;
    //margin:                   0.20em 0 0 0;
    
    .complete-checkbox {
      color:                  $in-progress;
    }
  }
  
  .task-fields-tmp {
    display:                  inline-block;
    height:                   100%;
    max-width:                90%;
    min-width:                90%;
    margin:                   0;
    
/**************/    
    @media only screen and (max-width: 480px) {
      max-width:              80%;
      min-width:              40%;
    }
/****************/
        
    .title {
      h4 {
        font-size:            1.80em;
        margin-top:           0;
        padding-bottom:       0.25em;
        border-bottom:        1px solid $border;
      }
    }
    
    .completed-title {
      h4 {
        color:                $grayed-out
      }
    }
    
    .description {
      margin:                 0.75em 0;
      font-size:              1.05em;
      
      //p {
      //  font-size:            1.10em;
      //}
    }
    
    .blank-description {
      //margin:                 0.75em 0;
      
      .panel-body {
        padding:              0.50em;
        color:                $grayed-out;
        font-style:           italic;
      }
    }
    
    .due-date {
      margin:                 0.75em 0;
      font-size:              1.10em;
    }
    
    .blank-due-date {
      color:                  $grayed-out;
      font-style:             italic;
    }
  }
}

.task-form-btns {
  button {
    margin-right:             0.25em;
  }
}

//-----------------------------------------------------------------------------
// TODO: 06/24/2016 - ORIGINAL TASK CARD
//-----------------------------------------------------------------------------
div.task-card {
  width:                      100%;
  height:                     100%;
  margin:                     0;
  
  .task-checkbox {
    display:                  inline-block;
    width:                    1.20em;
    height:                   100%;
    vertical-align:           top;
    margin:                   0.20em 0 0 0;
  }
  
  .task-fields {
    display:                  inline-block;
    height:                   100%;
    max-width:                90%;
    min-width:                80%;
    margin:                   0;
    
    .title {  
      .update-btn {
        margin-right:         0.5em;
      }
      
      h4 {
        font-size:            1.25em;
        margin:               0.15em 0 0 0;
        padding:              0;
      }
    }
    
    .description {
      p {  
        display:              inline-block;
        max-width:            90%;
        vertical-align:       top;
        margin:               0.30em 0;
        //font-weight:          bold;
      }
    }
    
    .due {
      margin:                 0.30em 0;
    }
  }
}

.hover-bkgrd {
  background-color:           $hover-bkgrd;
}

//
// Original code
//
.card {
  margin:                     0.75em 0 0 0;
  
  .title-div {
    
    .checkbox {
      display:                inline-block;
    }
    
    .title {
      display:                inline-block;
    }
  }
  
  .notes-div {
    
  }
}

//-----------------------------------------------------------------------------
// TaskLongForm
//-----------------------------------------------------------------------------
.task-section-div {
  //** border:                     1px solid $border;
  margin:                     0;
  padding:                    1.0em;
}

/****************************
.task-long-form-div {
  border:                     1px solid $border;
  margin:                     0;
  padding:                    1.0em;
}
****************************/