-# ----------------------------------------------------------------------------
-# views/layouts/_navigation_links.html.haml
-# ----------------------------------------------------------------------------
%div.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li= link_to "To Dos", tasks_path, class: "active"
    %li= link_to "Link 2", "#"
